<div class="service-page medicines">
  <div class="page-banner">
    <div class="container">
      <h1><i class="fas fa-pills"></i> Order Medicines Online</h1>
      <p>Fast delivery of genuine medicines at your doorstep</p>
    </div>
  </div>
  
  <div class="container">
    <div class="upload-prescription">
      <i class="fas fa-file-prescription fa-3x"></i>
      <h3>Upload Prescription</h3>
      <p>Upload your prescription and we'll deliver medicines to your home</p>
      <button class="btn btn-primary btn-lg">Upload Now</button>
    </div>
    
    <h2 class="section-title">Browse by Category</h2>
    
    <div class="medicine-categories">
      {% for category in categories %}
        <div class="category-card">
          <i class="fas fa-{{ category.icon }} fa-3x"></i>
          <h4>{{ category.name }}</h4>
          <p>{{ category.medicines_count }} products</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>